.App {
  text-align: center;
  padding: 30px;
}
.app__block-enter {
  opacity: 0;
  /* transform: scale(0.9); */
}
.app__block-enter-active {
  opacity: 1;
  /* transform: translateX(0); */
  transition: opacity 300ms;
}
.app__block-exit {
  opacity: 1;
}
.app__block-exit-active {
  opacity: 0;
  /* transform: scale(0.9); */
  transition: opacity 300ms;
}
.dropdown {
  display: block;
  position: relative;
}
.dropdown a {
  margin: 0 10px;
  background: #fff;
  z-index: 2;
  position: relative;
}
.dropdown ul {
  position: absolute;
  overflow: visible;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
  display: block;
  background: #fff;
  list-style: none;
  text-align: left;
  padding: 0 10px 10px;
  margin: 0;
  margin-top: -10px;
  z-index: 1;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 5%);
}
.dropdown li {
  margin: 10px 0;
}
.dropdown li:hover {
  cursor: pointer;
  color: #9b3c86;
}
.dropdown:hover ul {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  margin-top: 0;
}
