.chart {
  max-width: 888px;
  margin: 0 auto;
}

.chart__h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.chart__top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 80px;
  padding-right: 7px;
}
